*.o
*.bak
*.lst
*.map
forth
t
*.rom
*.fc
/platform.inc
*.po
romfs
.DS_Store
*.hex
of816-neon.bin
platforms/GoSXB/smallrom
platforms/GoSXB/rom
platforms/GoSXB/romfs
platforms/GoSXB/romfs_files/OF
cov.yml
ofw/out
platforms/GoSXB/romfs_files/bench
platforms/GoSXB/romfs_files/of.fs
compactflash.img
*.debuginfo
*.symbols
.luarc.json

